header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  opacity: 0.5;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}
 .headinfo h1{
   	font-size: 5em;
   	color: white;
   }

	
	.navbar-nav{
		width: 100%;background-color: rgb(100,225,100);
	}
	.nav-link{
		color: gold;
		
	}
	
  
    /* Style the top navigation bar */
    .topnav {
        overflow: hidden;
        background-color: #2196F3;
        width: 100%;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 1;
    }

    /* Style the topnav links */
    .topnav a {
        float: left;
        display: block;
        color: gold;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 18px;
         font-family: "Times New Roman", Times, serif;
         margin: 7px;
    }

    /* Change color on hover */
    .topnav a:hover {
        
        color: yellow;
    }
    a.active {
      background-color: #4CAF50;
      color: white;
    }
   a.active:hover{
    background-color: #4CAF50;
    color: #fff;
   }
   .topnav .icon {
     display: none;
   }

   @media screen and (max-width: 600px) {
     .topnav a:not(:first-child) {display: none;}
     .topnav a.icon {
       float: right;
       display: block;
     }
   }

   @media screen and (max-width:600px) {
     .topnav.responsive {position: relative;}
     .topnav.responsive .icon {
       position: absolute;
       right: 0;
       top: 0;
     }
     .topnav.responsive a {
       float: none;
       display: block;
       
     }
   }
   .roundpiccont span{
	display: inline-block;
	margin-left: 20px;
}
   .roundpiccont{
   
   padding-top: 50px; 	
   
   }
   .roundpic img{
   		border-radius: 50%;
   		width: 150px;
   		height: 20vh;
   }
  
   .parallax {
    /* The image used */
    background-image: url('{%static "image/scoan.jpg" %}');

    /* Set a specific height */
    min-height: 400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.para{
	margin: 15px;
}
.names{
	display: none;
}
@media screen and (max-width:600px) {
     .names {display: block;}
     .roundpiccont {
       display: none;
     }
     iframe{
     	width: 400px;
     }
   }

 .btn:hover{
 	text-decoration: none;
 } 
 .info{
 	display: flex;
 	flex-flow: row;
 }   
.about{
	background-image: url("{% static 'image/{%static "image/scoan.jpg" %}' %}");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.views{
 
}
.link{
   	margin:0 auto;
   	background-color: #fff;  	
    border-right: thin solid black;
    border-right-color: rgb(220,220,220);
    position: relative;
    left: 0;
    right: 5px;
   }
   	/* Create three unequal columns that floats next to each other */
   	.column {
   	    float: left;
   	    padding: 10px;
   	    box-sizing: border-box;

   	}

   	/* Left and right column */
   	.column.side {
   	    width: 22%;
        font-size: 18px;
   	   
  	}
  	

   	/* Middle column */
   	.column.middle {
   	    width: 53%;
   	 

   	}
   	#test{
   		padding-top: 40px;
   	}
   	.testmony{
   		border: thin solid grey;

   	}

   	/* Clear floats after the columns */
   	.row:after {
   	    content: "";
   	    display: table;
   	    clear: both;

   	}
   	 .wanajamii{
      width: 45%;
      float: left;
      margin-right: 20px;
      height: 40vh;
    }
.wanajamii_1{
      width: 45%;
      height: 40vh;
    }
    .odk{
      width: 100%;
    }
    


 .tab-content{
  font-size: 17px;
 }
  
   	/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
   	@media screen and (max-width: 600px) {
   	    .column.side, .column.middle {
   	        width: 100%;
   	    }
   	}
   	.col-sm-3{
   		padding: 15px;
   	}
   	.formore{
         padding-bottom: 10px;
   	}
   	.quote{
   		height: 50vh;
   	}
   	.ex3 {
		    text-align: justify;
		    width: 45%;
		    height: 50vh;
		    overflow: auto;
		    float: left;
		    margin-right: 4%;
		}
		.iframe{
			width: 45%;
		}
		.divs{
			margin-top: 42px;
		}
		ul li p{
			color: indigo;
			cursor: pointer;
		}