<!DOCTYPE html>
<html>
<head>
	<title></title>
	{% include 'project/topContent.html' %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'project/childStyle.css' %}">
</head>
<body>
	  
	<div class="container">
		<div class="row">
		  <div class="column" style="background-color:#aaa;">
		    <h2>Testimony1</h2>
		    <p>Some text..</p>
		  </div>
		  <div class="column" style="background-color:#bbb;">
		    
		    <img src="{%static 'image/me.jpg' %}">
         </div>
       </div>
       <div class="row">
       	<div class="column" style="background-color:#bbb;">
		    
		    <img src="{%static 'image/shadi.jpg' %}">
         </div>
		  <div class="column" style="background-color:#aaa;">
		    <h2>Testimony1</h2>
		    <p>Some text..</p>
		  </div>
		  <div class="column" style="background-color:#aaa;">
		    <h2>Testimony1</h2>
		    <p>Some text..</p>
		  </div>
		  <div class="column" style="background-color:#bbb;">
		    
		    <img src="{%static 'image/victor.jpg' %}">
         </div>
       </div>
       <div class="row">
       	<div class="column" style="background-color:#bbb;">
		    
		    <img src="{%static 'image/mm.jpg' %}">
         </div>
		  <div class="column" style="background-color:#aaa;">
		    <h2>Testimony1</h2>
		    <p>Some text..</p>
		  </div>
	</div>
  
</body>
</html>


<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>