<!DOCTYPE html>
<html>
<head>
	{% include 'project/topContent.html' %}
	{% load static %}
		<style>
		.parallax{
			background-image: url('{%static "image/scoan.jpg" %}');
		}
		</style>

   
	
<body>
    
<div class="container">

   <div class="container">
   	<div class="roundpiccont">
   		<span><div class="roundpic"><img src="{% static 'image/Homepage3.jpg' %}"><center>dgfdhd</center></div></span>
   		<span><div class="roundpic"><img src="{% static 'image/Homepage3.jpg' %}"><center>dgfdhd</center></div></span>
	    <span><div class="roundpic"><img src="{% static 'image/Homepage3.jpg' %}"><center>dgfdhd</center></div></span>
	    <span><div class="roundpic"><img src="{% static 'image/Homepage3.jpg' %}"><center>dgfdhd</center></div></span>
	    <span><div class="roundpic"><img src="{% static 'image/Homepage3.jpg' %}"><center>dgfdhd</center></div></span>
	    <span><div class="roundpic"><img src="{% static 'image/Homepage3.jpg' %}"><center>dgfdhd</center></div></span>
	 </div>
	 <div class="names">
			 	<div class="accordion" id="accordionExample">
		  <div class="card">
		    <div class="card-header" id="headingOne">
		      <h5 class="mb-0">
		        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		          Collapsible Group Item #1
		        </button>
		      </h5>
		    </div>

		    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
		      <div class="card-body">
		        <div class="roundpic info"><img src="{% static 'image/Homepage3.jpg' %}"><p>dgfdhdjhfgdhjjhjkd</p></div>
		      </div>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-header" id="headingTwo">
		      <h5 class="mb-0">
		        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		          Collapsible Group Item #2
		        </button>
		      </h5>
		    </div>
		    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
		      <div class="card-body">
		        <div class="roundpic info"><img src="{% static 'image/Homepage3.jpg' %}"><p>dgfdhdjhfgdhjjhjkd</p></div>
		      </div>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-header" id="headingThree">
		      <h5 class="mb-0">
		        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		          Collapsible Group Item #3
		        </button>
		      </h5>
		    </div>
		    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
		      <div class="card-body">
		        <div class="roundpic info"><img src="{% static 'image/Homepage3.jpg' %}"><p>dgfdhdjhfgdhjjhjkd</p></div>
		      </div>
		    </div>
  </div>
</div>
	 </div>
	 </div> 
   	  <div class="para">
   		<p>Scroll Up and Down this page to see the parallax scrolling effect.</p>
   		<p>Scroll Up and Down this page to see the parallax scrolling effect.</p>
   		<p>Scroll Up and Down this page to see the parallax scrolling effect.</p>
   		<p>Scroll Up and Down this page to see the parallax scrolling effect.</p>
   		<p>Scroll Up and Down this page to see the parallax scrolling effect.</p>
   		<p>Scroll Up and Down this page to see the parallax scrolling effect.</p>
   		<p>Scroll Up and Down this page to see the parallax scrolling effect.</p>
   		<p>Scroll Up and Down this page to see the parallax scrolling effect.</p>
   		<p>Scroll Up and Down this page to see the parallax scrolling effect.</p>
   		<p>Scroll Up and Down this page to see the parallax scrolling effect.</p>

   		<div class="parallax"></div>

   		<div style="height:100%;font-size:36px;">
   		Scroll Up and Down this page to see the parallax scrolling effect.
   		This div is just here to enable scrolling.
   		Tip: Try to remove the background-attachment property to remove the scrolling effect.
   		</div>
   	</div>
   	<div class="para">
   		<p>Scroll Up and Down this page to see the parallax scrolling effect.</p>
   		<p>Scroll Up and Down this page to see the parallax scrolling effect.</p>
   		<p>Scroll Up and Down this page to see the parallax scrolling effect.</p>
   		<p>Scroll Up and Down this page to see the parallax scrolling effect.</p>
   		<p>Scroll Up and Down this page to see the parallax scrolling effect.</p>
   		<p>Scroll Up and Down this page to see the parallax scrolling effect.</p>
   		<p>Scroll Up and Down this page to see the parallax scrolling effect.</p>
   		<p>Scroll Up and Down this page to see the parallax scrolling effect.</p>
   		<p>Scroll Up and Down this page to see the parallax scrolling effect.</p>
   		<p>Scroll Up and Down this page to see the parallax scrolling effect.</p>
   	</div>
   
    <div class="about divs" id="4about">
    	<h1>AboutMe</h1>

    	<p>Scroll Up and Down this page to see the parallax scrolling effect.</p>
   		<p>Scroll Up and Down this page to see the parallax scrolling effect.</p>
   		<p>Scroll Up and Down this page to see the parallax scrolling effect.</p>
   		<p>Scroll Up and Down this page to see the parallax scrolling effect.</p>
   		<p>Scroll Up and Down this page to see the parallax scrolling effect.</p>
   		<p>Scroll Up and Down this page to see the parallax scrolling effect.</p>
   		<p>Scroll Up and Down this page to see the parallax scrolling effect.</p>
   		<p>Scroll Up and Down this page to see the parallax scrolling effect.</p>
   		<p>Scroll Up and Down this page to see the parallax scrolling effect.</p>
   		<p>Scroll Up and Down this page to see the parallax scrolling effect.</p>

    </div>

    <div class="views divs" id="4views">
    	<h1>Views</h1>
    	<div class="row">
    	  <div class="column side link">
    	  	<ul>
    	  		<li id="ls1"><p>data zetu</p></li>
    	  		<li id="ls2"><p>Utengenezaji wa Ramani za Mitaro</p></li>
    	  	</ul>
    	   
    	    
    	  </div>
    	  <div class="column middle">
    	  	<div id="1" class="tab-content">
    	  		<h2>Kufanya kazi na wana jamii katika kukusanya taarifa kwenye maeneo yao.</h2>
    	    <p>Mradi wa Data Zetu ni moja ya miradi inayolenga kuwapa uwezo viongozi na wadau mbalimbali wanaotumia taarfa kufanya maamuzi kwa ajili ya faida ya jamii yao hususani kuokoa maisha.
    	Katika kufanikisha hili mradi unawapa nafasi wanajamii kuhusika katika zoezi kuanzia kuchangia mada nini kinawasumbua na kinaitaji utatuzi, tatizo lipi lianze kutatuliwa kwenye jamii yao ili kuweze kuwanufaisha wao na wadau wanaoweza tatua tatizo hilo kwa kufanya maamuzi sahihi kuptia taarifa.
    	</p>
    	<h2>Kitu kilicho wafurahisha jamii katika zoezi zima la ukusanyaji wa taarifa</h2>
    	<p>Ukusanyaji wa taarifa mara nyingi huwa unawahusisha watu wenye taaluma kuhusiana na ukusanyaji wa taarifa. Hii imekuwa tofauti kwa HOT kwani imekuwa ikifanya kazi na wanajimii wenyewe kukusanya taarifa kwenye maeneo yao husika, kwa kutumia vifaa vyao wenywe (simu) na elimu ndogo ya ukusanyaji wa taarifa kutoka kwa timu ya HOT. Zoezi hili limefanikiwa kwa kiasi kikubwa sana kwa kuwa taarifa zote zilizokusanywa katika mradi huu zilikusanywa na wananchi kwa kushirikiana na viongozi wa mtaa na wanajamii wa eneo hilo.</p>

    	<img src="picha/Picture1.png" class="wanajamii" alt="picha ya wanajamii">

    	<img src="picha/Picture2.png" class="wanajamii_1" alt="picha ya wanajamii">
    	<p>Wanajamii wakikusanya taarifa.</p>
    	<h2>Maoni kutoka kwa wananchi walioshiriki zoezi la ukusanyaji wa taarifa.</h2>
    	<p>“Nimejifunza teknologia mpya ambayo sikuweza kujua kama simu yangu inaweza kusaidia jamii yangu kuishi vizuri” Halima Juma- Mwananchi Makangarawe</p>

    	<p>“Nikiwa kama kiongozi hili zoezi litanisaidia kujua tatizo la eneo langu kiundani zaidi na kama wakitokea wafadili nitajua nini kipewe kipaumbele”. Hamisi Mashaka Mjumbe Yombo Dovya</p>

    	<p>“Zoezi hili naomba liwe endelevu maana linawapa nafasi hususani vijana kushiriki kazi za maendeleo ya jamii yao”. Reah Mohamed- Mjumbe, serikali ya Mtaa Makangarawe</p>

    	<p>“Huu ni mtaa wangu nina uhakika nikienda kumuuliza maswali mwananchi mwenzangu tutapata majibu sahihi kwani watakuwa huru na anayewahoji kwani ni mmoja wa watu wanaomzunguka” Mohamed- Mwananchi, Mtaa wa Dovya
    	</p>
    	  	</div>
    	    <div id="2" class="tab-content">
    	      <h2>Nini kinafanyika katika mradi wa Ramani huria katika mitaro?</h2>
    	    	<p id="2">Mradi wa Ramani Huria awamu ya pili (RH 2.0) unaendeleza kwa namna ya kipekee jitihada za kusaidia wanajamii kuwa wastahimilivu wa janga la mafuriko katika mkoa wa Dar es salaam. Mradi huu unahusika na ukusanyaji wa taarifa mbalimbali kama Makazi, Miundombinu, Athari za mafuriko na visababishi vyake. Taarifa zote hizi zinakusanywa na wanajamii pamoja na wanafuzi wa vyuo mbalimbali hususani chuo kikuu Ardhi kwa kutumia teknolojia ya kawaida kabisa kama simu ya mkononi (smartphone) na vifaa kama futi kamba, fimbo iliyo wekwa vipimo (measuring rods), tochi, na vioo (kuangalia mitaro iliyo funikwa). Taarifa hizi zinakusanywa kupitia programu ya mfumo wa simu (android) iliyowekwa programu ya Open Data Kit (ODK) iliyoboreshwa kwaajili ya kukusanya taarifa mbalimbali. </p>
    	<img src="picha/Picture3.png" class="odk" alt"muonekano wa odk">
    	<p>Muonekano wa program
    	u ya ODK katika ukusanyaji wa taarifa na  Timu ya ukusanyaji taarifa wakiwa kazini
    	</p>

    	<h2>Namna gani taarifa hizi zinakusanywa?
    	</h2>
    	<p>Taarifa zote zinazohusiana na mitaro zinakusanywa katika zoezi hili na kutumwa katika mfumo maalumu kwaajili ya kusafishwa na kutumika katika maamuzi mbalimbali kama kutengeneza “model” ya mafuriko katika jiji la Dar es Salaam ambayo itaonyesha mwenendo wa maji endapo mvia itanyesha na wap mafuriko yatatokea kulingana na aina ya mitaro iliyopo.
    	Baadhi ya taarifa zinazokusanywa ni pamoja upana, urefu wa mtaro na vipimo vingine kama mwinuko kutoka usawa wa barabara (elevation), nyenzo zilizotumika kutengeneza mtaro (Materials), hali ya mtaro (drainage condition/smoothness) na taarifa nyingine nyingi. Pia aina nyingine ya taarifa ni sehemu zenye matatizo katika mitaro kama uchafu, sehemu zilizohariibika, mitaro iliyofukiwa na mengine mengi. 
    	</p>
    	<img src="picha/Picture4.png" class="odk" alt="picha ya vifaa">
    	<p>Matumizi ya vifaa katika zoezi la ukusanyaji taarifa</p>
    	<h2>Nini matumizi ya taarifa hizi?</h2>
    	<p>Namna hii ya ukusanyaji wa taarifa unaweza kufanywa na mtu yoyote kutegemea na matumizi yake. Hivi karibuni wanafunzi wa chuo kikuu Ardhi wametumia njia hii ya ukusanyaji wa taarifa zitakazowawezesha kufanya “drain design” katika mji wa Moshi. Mradi wa Ramani Huria utawezesha taarifa hizi kutumika katika namna tofauti tofauti kama kuandaa ramani ya kuonyesha hali ya mitaro na uelekeo wa maji, pia kujua sehemu zenye matatizo kuwezesha mashirika ya kijamii na serikali katika kufanya maamuzi ya kuisaidia jamii kustahimili maafa.
    	</p>
    	<img src="picha/Picture5.png" class="wanajamii" alt="picha ya wanajamii">

    	<img src="picha/Picture6.png" class="wanajamii_1" alt="picha ya wanajamii">
    	<p>Data kabla na baada ya kusafishwa na kutengeneza ramani</p>
    	<h2>Mwisho wa mradi nini kitafanyika?
    	</h2>
    	<p>
    	  Mradi huu tayari umefanikiwa kukusanya taarifa katika kata 20 za jiji la Dar es salaam zinazoonyesha taarifa zote za mitaro na mahali ambapo kuna matatizo tayari kwa ajili ya matumizi katika mbalimbali. Zoezi hili litakamilika baada ya kukusanya taarifa katika kata 44 ambazo ziko kwenye mradi. Mwisho wa mradi itapatikana “model” itakayoonyesha namna mitaro inavyo onekena katika kata husika mpaka yanapoishia, iwe mtoni au kumwagika katika makazi ya watu.


    	</p>
    	<p>
    	  Taarifa hizi zinakusanywa kwa umahiri wa namna mbalimbali, hii ni kutokana na usimamizi wa ukusanyaji data na usafishwaji wa taarifa kwa timu yenye uzoefu wakishirikina na mtaalam wa masuala ya maji kutoka Deltares Uholanzi katika kuhakikisha taarifa hizi zinakua bora na zenye manufaa kwa jamii.
    	</p>
    	<img src="picha/Picture4.png" class="odk" alt="picha ya data">
    	<p>Namna ya kuangalia data zilizokusanywa kimakosa ili kuzirekebisha</p>
    	    </div>
    	    
    	  </div>
    	  <div class="column side">
    	   <a class="twitter-timeline" data-width="220" data-height="600" data-theme="light" href="https://twitter.com/SCOANTBJoshua?ref_src=twsrc%5Etfw">Tweets by SCOANTBJoshua</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    	  </div>
    	</div>
    </div>

    <div id="4test" class="divs">
    	<h1>Testimonies</h1>
      <div class="testmony">

    	<div class="row">
			  <div class="col-sm-3">
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">Special title treatment</h5>
			        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			        <a href="#" class="btn btn-primary">Go somewhere</a>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-3">
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">Special title treatment</h5>
			        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			        <a href="#" class="btn btn-primary">Go somewhere</a>
			      </div>
			    </div>
			  </div>
			
			<div class="col-sm-3">
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">Special title treatment</h5>
			        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			        <a href="#" class="btn btn-primary">Go somewhere</a>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-3">
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">Special title treatment</h5>
			        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			        <a href="#" class="btn btn-primary">Go somewhere</a>
			      </div>
			    </div>
			  </div>
			  
			</div>
			<div class="formore"><a href="go">Click for more</a></div>
		</div>
		   	 
    </div>
    <div class="divs" id="4dream">
    	<h1>Dreams</h1>
    </div>
    <div id="4quote" class="divs">
    	<h1>wonderful Quotes</h1>
    	<div class="quote">
        	<div class="ex3">
            	Miss Christabell is a town planner holding a Bachelor of Urban and  Regional Planning at Ardhi University. She joined Humanitarian Openstreetmap Team in 2015 when she was a student. After graduated her first degree in 2017 she joined Humanitarian Openstreetmap Team as a volunteer. She is now working with Humanitarian Openstreetmap Team as a Mapping Supervisor in different projects such as Data Zetu, Mini grid  and Ramani Huria. She is an expert in community mapping and engagement and using mobile phones for data collection using phone application such as OpenMapKit (OMK) and OpenDataKit (ODK). When she is out of the office she likes to learn about leadership and management and listening to inspirational.
            	Miss Christabell is a town planner holding a Bachelor of Urban and  Regional Planning at Ardhi University. She joined Humanitarian Openstreetmap Team in 2015 when she was a student. After graduated her first degree in 2017 she joined Humanitarian Openstreetmap Team as a volunteer. She is now working with Humanitarian Openstreetmap Team as a Mapping Supervisor in different projects such as Data Zetu, Mini grid  and Ramani Huria. She is an expert in community mapping and engagement and using mobile phones for data collection using phone application such as OpenMapKit (OMK) and OpenDataKit (ODK). When she is out of the office she likes to learn about leadership and management and listening to inspirational.
            	Miss Christabell is a town planner holding a Bachelor of Urban and  Regional Planning at Ardhi University. She joined Humanitarian Openstreetmap Team in 2015 when she was a student. After graduated her first degree in 2017 she joined Humanitarian Openstreetmap Team as a volunteer. She is now working with Humanitarian Openstreetmap Team as a Mapping Supervisor in different projects such as Data Zetu, Mini grid  and Ramani Huria. She is an expert in community mapping and engagement and using mobile phones for data collection using phone application such as OpenMapKit (OMK) and OpenDataKit (ODK). When she is out of the office she likes to learn about leadership and management and listening to inspirational.
            </div>
            		
            		<video class="iframe"height="315" controls loop>
            		  <source src="{% static 'video/Pip   A Short Animated Film.mp4' type='video/mp4'%}">
            		   Your browser does not support the video tag.
            		</video>
    	</div>
    	<div id="4story" class="divs">
				<h1>Stories</h1>
				<h2>Kufanya kazi na wana jamii katika kukusanya taarifa kwenye maeneo yao.</h2>
    	    <p>Mradi wa Data Zetu ni moja ya miradi inayolenga kuwapa uwezo viongozi na wadau mbalimbali wanaotumia taarfa kufanya maamuzi kwa ajili ya faida ya jamii yao hususani kuokoa maisha.
    	Katika kufanikisha hili mradi unawapa nafasi wanajamii kuhusika katika zoezi kuanzia kuchangia mada nini kinawasumbua na kinaitaji utatuzi, tatizo lipi lianze kutatuliwa kwenye jamii yao ili kuweze kuwanufaisha wao na wadau wanaoweza tatua tatizo hilo kwa kufanya maamuzi sahihi kuptia taarifa.
    	</p>
    	<h2>Kitu kilicho wafurahisha jamii katika zoezi zima la ukusanyaji wa taarifa</h2>
    	<p>Ukusanyaji wa taarifa mara nyingi huwa unawahusisha watu wenye taaluma kuhusiana na ukusanyaji wa taarifa. Hii imekuwa tofauti kwa HOT kwani imekuwa ikifanya kazi na wanajimii wenyewe kukusanya taarifa kwenye maeneo yao husika, kwa kutumia vifaa vyao wenywe (simu) na elimu ndogo ya ukusanyaji wa taarifa kutoka kwa timu ya HOT. Zoezi hili limefanikiwa kwa kiasi kikubwa sana kwa kuwa taarifa zote zilizokusanywa katika mradi huu zilikusanywa na wananchi kwa kushirikiana na viongozi wa mtaa na wanajamii wa eneo hilo.</p>

    	</div>
    </div>
	</div>	
</body>


<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
</html>

<script type="text/javascript">
	$(document).ready(function(){
		$("#2").hide();
		$("#ls1").css("font-weight","bold");
		$("#ls1").click(function(){
			$("#ls1").css("font-weight","bold");
			$("#2").hide();
			$("#1").show();
			$("#ls2").css("font-weight","normal");
		});
		$("#ls2").click(function(){
			$("#ls2").css("font-weight","bold");
			$("#1").hide();
			$("#2").show();
			$("#ls1").css("font-weight","normal");
		});

	});
</script>